<%= form_with model: @employee do |form| %>
  
    <%= form.label :name %>
    <%= form.text_field :name %><br>
       <%= form.label :gender %>
    <%= form.text_field :gender %><br>
 
    <%= form.label :age %>
    <%= form.number_field :age %><br>


  Addresses:
  <ul>
    <%= form.fields_for  :addresses  do |addresses_form| %>
      <li>
        <%= addresses_form.label :c_address %>
        <%= addresses_form.text_field :c_address %>

        <%= addresses_form.label  :p_address %>
        <%= addresses_form.text_field :p_address %>
        ...
      </li>
    <% end %>
  </ul>


 
    <%= form.label :email%>
    <%= form.email_field :email %><br>

    <%= form.label :password %>
    <%= form.password_field :password %><br>
    <%= form.label :department %>
   <%= form.collection_select :department_id, Department.order(:name), :id, :name %></br>

 
    <%= form.submit %>
<%end%>