<h1><%= @employ.name %></h1>

<h1><%= @employ.contact %></h1>

<h1><%= @employ.type %></h1>
<h1><%= @employ.email %></h>
<h1><%= @employ.password %></h>

<% if current_type %>
<ul>
  <li><%= link_to "Edit", edit_employ_path(@employ) %></li>
  <li><%=link_to 'delete', employ_path(employ_id = @employ.id), method: :delete %></li>

</ul>
<% end %>