<p>this is my admin profile</p>

<h1><%= @admin.name %></h1>

<h1><%= @admin.contact %></h1>

<h1><%= @admin.email %></h1>

<h1><%= @admin.password %></h1>

<ul>
  <li><%= link_to "Edit", edit_admin_path(@admin) %></li>
 

</ul>
