
<%= form_with model: @department do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :jobroll %><br>
    <%= form.text_area :jobroll %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>