   <tr id ="user_<%= department.id%>">
        <td>
           <%= link_to department.name, department_path(department.id) %>
        </td>
      
        <td>
         <%=   department.employees.count() %>
        </td>
     
        <td>
          <%= link_to "All Employees", all_employee_department_path(department.id),class:"btn btn-primary"%>
        </td>
         <td>
           <%= link_to 'Destroy',  department_path(department.id), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'btn btn-primary' %> 
        </td>
      </tr>