<div class="container">
    <%= form_with scope: :leave,   model: @leave do |form|%>
        <%=form.label :from_date%>
        <%=form.date_field :from_date, class:"form-control"%></br>
        <%=form.label :to_date%>
        <%=form.date_field :to_date, class:"form-control"%></br>

        <%=form.hidden_field :employee_id, value: current_user.id %>
        <%= submit_tag "Leave request", class:"btn btn-primary"%>           
        <% end %>
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
      <% end %>
</div>