<p>the employee is loged in </p>
<h1><%= @employee.name %></h1>

<h1><%= @employee.gender %></h1>

<h1><%= @employee.age %></h1>

<h1><%= @employee.address %></h1>

<h1><%= @employee.email %></h>

  <h1><%= @employee.password %></h>