<h3>this is my leave assign index</h3>

    <%= form_with model: @assing do |form| %>
      <div class="card">
        <div class="card-body">
        <%= form.hidden_field :employee_id, value: @emp.id%>
        <div class="mb-3">
        <%= form.label :day, { class: "form-label"} %><br>
        <%= form.text_field :day, { class: "form-control"} %>
        </div>

        <div class="mb-3">
        <%= form.label :year, { class: "form-label"}  %><br>
        <%= form.text_area :year, { class: "form-control"}%>
        </div>
         <%= form.submit "Assign Leave", class: "btn btn-primary" %>
         </div>
      </div>
    <% end %>
