<div class="container"> 
  <table class= "table">
    <tr>
      <th>Employee name</th>
      <th>Assigned leave</th>
      <th>Year</th>
    </tr>
    <%@assign.each do |assign|%>
    <tr>
      <td><%=link_to assign.employee.name, leave_asign_assign_leafe_path(id: assign.employee.id)%></td>
      <td><%=assign.day%></td>
      <td><%=assign.year%></td>
    </tr>
    <%end%>
    <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
    <% end -%>
  </table>
  <%= link_to "Back", :back %>
</div>
   