
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-warning" href="#">Employee management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
         <% if current_employee %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if is_admin? %>
              <%= link_to "Request",employee_request_path, class:"dropdown-item"%>
              <%= link_to "All Department",departments_path, class:"dropdown-item"%>
              <%= link_to "all employee",employees_path, class:"dropdown-item" %>
              <% else%>
              <%= link_to "status",leaves_path, class:"dropdown-item" %>
              <%= link_to "view profile", employee_path(current_employee.id),class:"dropdown-item"%> 
              <% end %> 
            </div>
            <% end %> 
          </li>           
     </ul>
        <form class="form-inline my-2 my-lg-0 float-right">
          <% if current_employee %>
          <% if is_admin? %>
          <%= link_to "Leave", leaves_path, class:"btn btn-success"%><!-- <sup class="text-danger"><%=Leave.where(status:"requested").count%></sup> -->
          <%end%>
          <%= link_to "log out", destroy_employee_session_path, method: :delete, class:"btn btn-danger"%>
          <% else %>
          <%= link_to "log in", new_employee_session_path, class:"btn btn-success"%>
          <% end %>
        </form>
    </div>
</nav>

 